@model PersonalTracker.Core.Models.DTOS.FinancialAccountDTO

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      @Model.account_Id
      @Model.accountName
      @Model.currencyType
      @Model.initialValue
      @Model.type
</div>
</body>
</html>